body {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(images/bg-top.svg), url(images/bg-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 25%, 25%;
    background-position: top right, bottom left;
    background-color: hsl(240, 78%, 98%);
    height: 650px;

    width: 1000px;
}

.term-selector {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 300px;
    font-family: 'Montserrat', sans-serif;
    color: hsl(233, 13%, 49%);
    font-size: 20px;
}

.plan-term {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: hsl(234, 14%, 74%);
    transform: translateY(-20px);
    height: 300px;
    width: 250px;
    font-size: 15px;
    ;
}


.prices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 800px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: hsl(233, 13%, 49%);
    transform: translateY(-10%);
}

.plan-prices {
    cursor: pointer;
    height: 400px;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-radius: 3%;
    padding: -10px 0 -10px 0;

}

.plan-prices .plan-amount {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: hsl(232, 13%, 33%);
    font-weight: 700;
    font-style: bolder;
    transform: translateY(-60%);
    width: 0%;
}

.plan-amount .amount {
    font-size: 40px;
}


.plan-prices:hover {
    transform: scale(1.1);
    transition: 0.5s;
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: #fff;
}




.plan-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    transform: translateY(-20%);
    font-size: 13px;

}

.learn-more {
    cursor: pointer;
    width: 70%;
    height: 10%;
    background: linear-gradient(45deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 5px;
    border: none;
    transform: translateY(-50%);
    font-size: 15px;
    color: #fff;
}

.plan-prices:hover > .learn-more {
    background: #fff;
    color: hsl(237, 63%, 64%);
    
}
.plan-prices:hover .plan-amount{
    color: #fff;
}



.line-break {
    height: 1px;
    width: 100%;
    background-color: hsl(234, 14%, 74%);

}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media (max-width:375px) {
    body {
        display: flex;
        justify-content: center;
        margin-top: 0px;
    }

    .container {
        position: relative;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-image: url(images/bg-top.svg), url(images/bg-bottom.svg);
        background-repeat: no-repeat, no-repeat;
        background-size: 25%, 25%;
        background-position: top right, bottom left;
        background-color: hsl(240, 78%, 98%);
        height: 1500px;
        width: 100vh;
    }

    .term-selector {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 200px;
        width: 250px;
        font-family: 'Montserrat', sans-serif;
        color: hsl(233, 13%, 49%);
        font-size: 20px;
    }

    .plan-term {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color: hsl(234, 14%, 74%);
        transform: translateY(-20px);
        height: 150px;
        width: 250px;
        font-size: 15px;
        ;
    }


    .prices {
        position: absolute;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 300px;
        align-items: center;
        height: 1300px;
        width: 350px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color: hsl(233, 13%, 49%);

    }

    .plan-prices {
        height: 600px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        border-radius: 3%;
        margin: 20px 0 20px 0;

    }

    .plan-prices .plan-amount {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: hsl(232, 13%, 33%);
        font-weight: 700;
        font-style: bolder;
        margin: 15px 0px -10px 0px;
        width: 0%;
        font-size: 30px;
    }

    .plan-amount .amount {
        padding: 0px 0px 0px 5px;
        font-size: 60px;
    }

    .plan-prices.professional {
        background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        color: #fff;
        height: 600px;
        margin: 20px 0 20px 0;
    }

    .plan-details {
        font-size: 16px;
    }
}